{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
 {% load humanize %}
{% block content %}

<div class="container p-4">
  <div class="row m-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
      <strong>{{message}}!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% include 'partails/left_panel.html' %}
    <div class="col-md-6 ">
      <div class="mb-4  text-center">
        <button type="button" class="btn btn-light" data-bs-toggle="button" autocomplete="off">Toggle button</button>
        <button type="button" class="btn btn-light active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Active toggle button</button>
        <button type="button" class="btn btn-light active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Active toggle button</button>
      </div>
      <div class="card mb-4">
        <div class="card-body">
        </div>
      </div>
      <div class="card mb-4" >
        <div class="card-body">
           {{post.post}}
           <hr>
          <form class="" action="#" method="POST">
            {% csrf_token %}
            {{ form| crispy}}
            <input type="submit" name=""  class="btn btn-success" value="comment">
          </form>
          {% for each  in comments %}
          <div class="card m-2 shadow-lg p-3 mb-5 bg-body rounded" >
            <div class="card-body ">
              <div class=" clearfix">


                <p class="float-start">  <small class="text-primary"><strong><img src="{{each.user.profile.photo.url}}" width="25" height="25" class="img-fluid rounded" alt="..."> {{each.user}}</strong> </small> </p>
                <a  onclick="return confirm('Are you sure?')"  href=""  class="card-link float-end"> <i class="bi bi-trash"></i></a>
                <a href="{% url 'edit_comment' each.id %}" class="card-link float-end"><i class="bi bi-pencil-square"></i></a>
                <p class="float-end">  <small class="text-primary"><strong>{{each.date| naturaltime}} </strong> </small> </p>
              </div>

              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text">{{each.body}}</p>
              <a href="#" class="card-link"></a>
              <a href="#" class="card-link"></a>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </div>
   {% include 'partails/right_panel.html' %}
  </div>
</div>

{% endblock %}
