<div class="col-md-2">
  <div class="d-grid gap-2">
    <button class="btn btn-success" type="button">FEED</button>
    <button class="btn btn-success" type="button">PROFILE</button>
    <button class="btn btn-success" type="button">EXPLORE</button>
    <button class="btn btn-success" type="button">LOGOUT</button>
    <a href="" class="btn btn-success" type="button"><i class="bi bi-box-arrow-left"></i></a>
    <a href="{% url 'user_logout' %}" class="btn btn-success" type="button"><i class="bi bi-box-arrow-left"></i> Logout</a>
  </div>
</div>
