{% extends 'base2.html' %}

{% block content %}

<div class="container">
  <div class="row m-2 p-2">

    <div class="col-md-7">

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{request.user.profile.photo.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{request.user.username|capfirst}}</h5>
              {% if request.user.profile.bio %}
              <p class="card-text">{{request.user.profile.bio}}</p>
              {% endif %}
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="col-md-3">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">An active item</li>
    <a href="{% url 'password_change2' %}" class="list-group-item">Password Change</a>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>
    </div>
  </div>
</div>

{% endblock %}
