{% extends 'base2.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
      <button type="button" name="button">back to feed</button>
      <div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <div class=" clearfix">
      <img src="{{profile.photo.url}}" class="rounded-circle mx-auto d-block float-start" alt=" profile image " width="100" height="100" >


      <button type="button" class="btn btn-outline-primary float-end"> <i class="bi bi-plus"></i> follow</button>
    </div>
    <h5 class="card-title"> {{user.firstname }} {{user.last_name }} </h5>

    <p>  <small class="text-muted">
      {{user.username}}
    </small>
</p>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
</div>

{% endblock %}
