{% extends 'base2.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">

  <a class="btn btn-link text-decoration-none m-2" href="{% url 'index' %}"> back to feed  <i class="bi bi-house-fill"></i></a>
  <div class="card border shadow-lg">
  <div class="card-header">
    <i class="bi bi-person-bounding-box"></i> {{user.username|title}}
  </div>
  <div class="card-body">
    <div class=" clearfix">
      <img src="{{profile.photo.url}}" class="rounded-circle mx-auto d-block float-start" alt=" profile image " width="100" height="100" >

      {% if user != request.user %}
      {% if is_follower %}
      <form class="" action="{% url 'remove_follower' profile.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary float-end"> <i class="bi bi-plus"></i> following </button>
      </form>

      {%else%}
      <form class="" action="{% url 'add_follower' profile.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-primary float-end"> <strong><i class="bi bi-plus"></i> follow </strong> </button>
      </form>

      {% endif %}

      {% endif %}
    </div>
    <h5 class="card-title"> {{user.firstname }}  {{user.last_name }} </h5>

    <p>  <small class="text-muted">
      {{user.username}} <br>
      {% if total_followers == 0   %}
    <strong>Followers: {{total_followers}} </strong>
     {% else %}
     <a href="{% url 'followers_list' profile.id %}" class="text-decoration-none "> <strong>  Followers <i class="bi bi-people"></i> : {{total_followers}}</strong> </a>
     {% endif %}
    </small>
</p>
    <p class="card-text"> {{ user.bio }} </p>
    <p class="card-text"> {{ user.location }} </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
</div>

{% endblock %}
