{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
 {% load humanize %}
{% block content %}

<div class="container p-4">
  <div class="row m-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
      <strong>{{message}}!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="col-md-2">
      <div class="d-grid gap-2">
        <button class="btn btn-success" type="button">FEED</button>
        <button class="btn btn-success" type="button">PROFILE</button>
        <button class="btn btn-success" type="button">EXPLORE</button>
        <button class="btn btn-success" type="button">LOGOUT</button>
        <button class="btn btn-success" type="button">Button</button>
        <a href="{% url 'user_logout' %}" class="btn btn-success" type="button">Button</a>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="mb-4  text-center">
        <button type="button" class="btn btn-light" data-bs-toggle="button" autocomplete="off">Toggle button</button>
        <button type="button" class="btn btn-light active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Active toggle button</button>
        <button type="button" class="btn btn-light active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Active toggle button</button>

      </div>

      <input class="form-control mb-4" type="text" placeholder="What's on your mind" aria-label="Disabled input example" >

      <div class="card mb-4">
        <div class="card-body">
          <form class="" method="POST" enctype="multipart/form-data" >
           {% csrf_token %}

            {{form|crispy}}

            <input type="submit" name="" value="Post" class="btn btn-success mt-4">
          </form>
        </div>
      </div>



      {% if posts %}
      {% for each in posts %}
      <div class="card mb-4" >

        <div class="card-body">
          <div class=" clearfix">


            <p class="float-start">  <small class="text-primary"><strong><img src="{{each.user.profile.photo.url}}" width="25" height="25" class="img-fluid rounded" alt="..."> {{each.user}}</strong> </small> </p>
            <a  onclick="return confirm('Are you sure?')"  href="{% url 'delete_post' each.id %}"  class="card-link float-end"> <i class="bi bi-trash"></i></a>
            <a href="{% url 'edit_post' each.id %}" class="card-link float-end"><i class="bi bi-pencil-square"></i></a>
            <p class="float-end">  <small class="text-primary"><strong>{{each.date| naturaltime}} </strong> </small> </p>
          </div>


          <p class="card-text">{{each.post}}</p>
          <a  onclick="return confirm('Are you sure?')"  href="{% url 'delete_post' each.id %}"  class="card-link "> <i class="bi bi-trash"></i></a>
          <a href="{% url 'post_detail' each.id %}" class="card-link"><i class="bi bi-chat"></i></a>

          <form class="" action="{% url 'post_comment' %}" method="POST">
            {% csrf_token %}
            {{c_form| crispy}}
            <input type="submit" name=""  class="btn btn-success" value="comment">
          </form>

        </div>
      </div>
      {% endfor %}
      {% endif %}

    </div>
    <div class="col-md-3 ">
    <input class="form-control" type="text" placeholder="Search" input here..." aria-label="readonly input example" >
    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>

    <div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>

<div class="card">
<div class="card-body">
This is some text within a card body.
</div>
</div>
    </div>
  </div>
</div>

{% endblock %}
